main {
    position: relative;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    float: left;
    background-color: var(--color-of-background);
    align-items: center;
}

div.nav-ref-2 a {
  color: var(--color-of-highlight) !important;
}

.greetings-section{
    flex-basis: 455px;
    text-align: center;
    margin-top: 165px;
}

.profile-section{
    margin-top: 35px;
    width: 100%;
    padding: 40px 0;
    background-color: #FAFAD2;
    display:flex;
    align-items: center;
    column-gap: 50px;
    justify-content: center;
}

.greetings-section {
  font-family: fantasy;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.3;
  color: var(--color-of-text1); 
}

.greetings-section-welcome {
    color: var(--color-of-text1-alt); 
    font-weight: bold;
    text-decoration: none;
    font-family: fantasy;
    z-index: 1000;
    position: relative;
    text-decoration: none;
    width: fit-content;
    margin: auto;
    margin-bottom: 2px;

}

.greetings-section-welcome:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
}

.greetings-section-welcome:hover::after {
    width: 100%;
}

.greetings-section-im {
  color: var(--color-of-text1);
}

.greetings-section-lastname {
  background-color: var(--color-of-highlight); 
  color: var(--color-of-background-alt); 
  border-radius: 6px;
  padding: 2px 6px;
  margin-left: 5px;
}

.greetings-section-backname {
  color: var(--color-of-text1); 
}

.profile-photo {
  position: relative;
  display: inline-block;
}

.my-gambar {
  width: 300px;
  height: auto;
  border-radius: 12px;
  transition: transform 0.5s ease;
}

.gallery-prev, .gallery-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  font-size: 30px;
  font-weight: bold;
  color: var(--color-of-highlight);
  border-radius: 50%;
  user-select: none;
}

.gallery-prev:hover, .gallery-next:hover {
  color: var(--color-of-text1-alt);
  transition: all 0.5s ease-in-out;
}

.gallery-prev { left: -50px; }
.gallery-next { right: -50px; }


.profile-description{
    flex-basis: 455px;
    margin-left: 100px;
}

.profile-description h2{
    font-family: fantasy;
    font-size: 30px;
    line-height: 24px;
    font-weight: bolder;
    color: var(--color-of-text1);
    margin-bottom: 20px;
}

.profile-description p{
    font-family: fantasy;
    font-size: 14px;
    line-height: 24px;
    font-weight: 100px;
    color: var(--color-of-text1);
    text-align: justify;
}

.profile-description a{
    color: var(--color-of-background-alt);
    font-weight: bold;
    text-decoration: none;
    font-family: fantasy;
    z-index: 1000;
    position: relative;
    text-decoration: none;
}

.profile-description a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
}

.profile-description a:hover::after {
    width: 100%;
}